body {
  /*font-family: "Helvetica Neue", Helvetica;*/
  width: 100%;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 auto 0 auto;
  padding: 0;
  /*background: rgb(234, 235, 235);*/
  color: black;
  font-size:15pt;
   /*background-image: url('../img/bg.png');*/
   overflow: hidden;
}


nav{
  text-align: center;
  /*margin: 0 0 20px 0;*/
  padding:20px 0;
  /*border-bottom: 1px solid grey;*/
  position:fixed;
  width:100%;
  top:0;
  background-color: rgba(255, 255, 255, 0.98);

}

img{
  /*display:none;*/
  width:100%;
}

.clearspace{
  display: block;
  height:200px;
}
.thesis_option{
  /*font-family: 'Source Code Pro';*/
  font-weight:500;
  margin:0 40px;
  border-bottom:1px solid black;
  color:black;
}

p, h1, h2,h3, blockquote, li{
    display: inline;

    /*background: white;*/
    color: black;
    padding: 0 0.5rem;
    font-size: 100pt;
    /*padding:0 15px;*/
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

p:after, h1:after, h2:after,h3:after, blockquote:after, li:after{
  content: ' ';
  display: block;
}

.newest_thesis{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  padding-top:150px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background:red;*/
}


span{
   /*background-color: black; */
/* text-decoration: underline; */
color: black;
 color: black;
 /*line-height: 2em;*/
 /*margin-bottom: 10px;*/
/*line-height: 30px;*/
/*padding: 0;*/
/*margin: 0 5px;*/
}

span:before{
  content: ' ';
  /*background-color: black;*/
  /*padding-left:5px;*/
}

.blast{
	display: none;
  padding: 0 0.5rem;
  /*background-color: white;*/
/*padding: 1px;*/
/*margin: 100px;*/
/*font-size: 100pt;*/
line-height: 0.4em;
}

p{
  font-size: 30pt;
}
